.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 15px 30px;

  color: var(--white);
  background-color: var(--primary);
}

.list {
  display: flex;
  flex-wrap: wrap;

  padding: 0;

  list-style: none;
}

.item {
  margin-left: auto;
}

.link {
  margin: 0;
  padding: 10px 20px;
}

@media (max-width: 765px) {
  .footer {
    flex-direction: column;

    padding: 6px 10px;
  }

  .permission {
    text-align: center;
  }

  .list {
    flex-direction: column;
    gap: 10px;
  }

  .link {
    text-align: center;
  }
}
